/* Base styles */
:root {
    --color-light: #ffffff;
    --color-medium: #464646;
    --color-dark: #121212;
    --color-dark-40: rgba(18, 18, 18, 0.4);
    --color-dark-60: rgba(18, 18, 18, 0.6);
    --color-light-40: rgba(255, 255, 255, 0.4);
    --color-light-30: rgba(255, 255, 255, 0.3);
    --color-light-10: rgba(255, 255, 255, 0.1);
    --color-primary-dark: #ff7500;
    --color-primary-dark-4: rgba(255, 117, 0, 0.04);
    --color-primary-medium: #ff6b00;
    --color-primary-medium-38: rgba(255, 107, 0, 0.38);
    --color-primary-light: #e4e4e4;
    --color-text-dark: #292929;
    --color-text-dark-30: rgba(41, 41, 41, 0.3);
    --color-text-medium: #a9a9a9;
    --shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
    --shadow-card: 1.08px 7.57px 23.8px -16px rgba(0, 0, 0, 0.1);
    --color-gray-medium-5: rgba(169, 169, 169, 0.05);
    --color-gray-dark: #a9a9a9;
}

/* Aeonik Regular */
@font-face {
    font-family: "Aeonik";
    src: url("../fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Aeonik Medium */
@font-face {
    font-family: "Aeonik";
    src: url("../fonts/Aeonik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Aeonik Bold */
@font-face {
    font-family: "Aeonik";
    src: url("../fonts/Aeonik-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--color-text-dark);
    background-color: var(--color-text-dark);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Aeonik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    padding: 16px 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
}

.section {
    padding: 80px 0;
}

.container {
    width: 1340px;
    margin: 0 auto;
}

/* Header styles */
.header {
    background-color: var(--color-dark);
    color: var(--color-light);
    margin: 0 auto;
    z-index: 10;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
}
.header-logo-link:hover {
    opacity: 0.8;
    scale: 1.1;
}
.header-logo {
    width: 112px;
    height: 40px;
}
.header-nav-list {
    display: flex;
    gap: 47px;
    font-weight: 500;
}
.header-nav-list li a:hover {
    color: var(--color-primary-medium);
}
.header-nav-list li a:active {
    color: var(--color-primary-medium-38);
}
.header-nav-button {
    padding: 14px 0;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid var(--color-light);
    width: 170px;
    text-align: center;
}

/* Hero styles */
.hero {
    padding: 110px 0 74px 0;
    background-color: var(--color-dark);
    color: var(--color-light);
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hero-title {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.hero-title span {
    color: var(--color-primary-medium);
}
.hero-text {
    color: var(--color-light-40);
}
.hero-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
}
.hero-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light-40);
    padding: 8px 0;
}
.hero-icon-container {
    position: relative;
    display: flex;
    background-color: var(--color-primary-medium);
    border-radius: 4px;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 4px 0;
}
.hero-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    fill: var(--color-light);
}

/* Services styles */
.services {
    background-color: var(--color-light);
    padding: 0 0 100px 0;
}
.services-banner {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.services-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}
.services-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 840px;
}
.services-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.services-icon-container {
    position: relative;
    display: flex;
    background-color: var(--color-primary-dark-4);
    border-radius: 50%;
    align-items: center;
    width: 74px;
    height: 74px;
    padding: 4px 0;
}
.services-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
}
.services-text {
    font-weight: 500;
    color: var(--color-dark);
    text-transform: capitalize;
    width: 90px;
}

/* Public styles */
.public {
    background-color: var(--color-light);
    padding: 0 0 100px 0;
}
.public-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.public-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}
.public-title {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-text-dark);
}
.public-title-color {
    color: var(--color-primary-dark);
}
.public-text {
    text-align: center;
    color: var(--color-dark-40);
    width: 450px;
}
.public-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 175px;
}
.public-info-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 450px;
}
.public-info-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.public-info-number {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    font-size: 24px;
}

.public-info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.public-info-title {
    color: var(--color-text-dark);
    font-size: 24px;
    font-weight: 500;
}
.public-info-description {
    color: var(--color-text-dark-30);
}
.public-info-rating {
    position: relative;
    padding: 40px 0 44px 0;
    width: 720px;
    height: 720px;
}
.public-info-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--color-light);
    box-shadow: var(--shadow-card);
}
.public-info-card-first {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 2;
}
.public-info-card-second {
    position: absolute;
    top: 105px;
    left: 150px;
    z-index: 2;
}
.public-info-card-third {
    position: absolute;
    bottom: 0;
    right: 115px;
    z-index: 2;
}
.public-info-card-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.08px solid var(--color-primary-medium-38);
}
.public-info-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.public-info-card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.public-info-card-title {
    color: var(--color-text-dark);
    font-size: 15px;
    font-weight: 700;
}
.public-info-card-description {
    color: var(--color-text-medium);
    font-size: 12px;
}
.public-info-card-description-color {
    color: var(--color-primary-dark);
}
.public-info-img-up {
    position: absolute;
    top: 264px;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    z-index: 2;
}
.public-info-img-room {
    width: 467px;
    height: 233px;
}
.public-info-img {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}
.public-info-img-bedroom {
    width: 480px;
    height: 640px;
    object-fit: cover;
    border-left: 25px solid #d9d9da;
}
