/* Base styles */
:root {
    --color-light: #ffffff;
    --color-medium: #464646;
    --color-dark: #121212;
    --color-dark-40: rgba(18, 18, 18, 0.4);
    --color-dark-60: rgba(18, 18, 18, 0.6);
    --color-light-40: rgba(255, 255, 255, 0.4);
    --color-light-30: rgba(255, 255, 255, 0.3);
    --color-light-10: rgba(255, 255, 255, 0.1);
    --color-primary-dark: #ff7500;
    --color-primary-dark-4: rgba(255, 117, 0, 0.04);
    --color-primary-medium: #ff6b00;
    --color-primary-medium-38: rgba(255, 107, 0, 0.38);
    --color-primary-light: #e4e4e4;
    --color-text-dark: #292929;
    --color-text-dark-30: rgba(41, 41, 41, 0.3);
    --color-text-medium: #a9a9a9;
    --shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
    --color-gray-medium-5: rgba(169, 169, 169, 0.05);
    --color-gray-dark: #a9a9a9;
}

/* Aeonik Regular */
@font-face {
    font-family: "Aeonik";
    src: url("../fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Aeonik Medium */
@font-face {
    font-family: "Aeonik";
    src: url("../fonts/Aeonik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Aeonik Bold */
@font-face {
    font-family: "Aeonik";
    src: url("../fonts/Aeonik-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--color-text-dark);
    background-color: var(--color-text-dark);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Aeonik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    padding: 16px 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
}

.section {
    padding: 80px 0;
}

.container {
    padding: 0 155px;
    max-width: 1340px;
    margin: 0 auto;
}

/* Header styles */
.header {
    position: fixed;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0 155px;
    width: 100%;
    /* min-height: 100px; */
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
}
.header-logo-link:hover {
    opacity: 0.8;
    scale: 1.1;
}
.header-logo {
    width: 112px;
    height: 40px;
}
.header-nav-list {
    display: flex;
    gap: 47px;
    font-weight: 500;
}
.header-nav-list li a:hover {
    color: var(--color-primary-medium);
}
.header-nav-list li a:active {
    color: var(--color-primary-medium-38);
}
.header-nav-button {
    padding: 14px 0;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid var(--color-light);
    width: 170px;
    text-align: center;
}

/* Hero styles */
.hero {
    padding: 110px 0 74px 0;
    background-color: var(--color-dark);
    color: var(--color-light);
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hero-title {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.hero-title span {
    color: var(--color-primary-medium);
}
.hero-text {
    color: var(--color-light-40);
}
.hero-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
}
.hero-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light-40);
    padding: 8px 0;
}
.hero-icon-container {
    position: relative;
    display: flex;
    background-color: var(--color-primary-medium);
    border-radius: 4px;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 4px 0;
}
.hero-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    fill: var(--color-light);
}
